<div class="carousel">

  <div class="slider">
    @for (slide of store.slides(); track slide.id; let i = $index) {
      <div class="slide"
           [class.active]="i === store.currentSlide()">
        <img [src]="slide.img" [alt]="slide.text" class="slide-image" draggable="false"
             [attr.loading]="i === 0 ? 'eager' : 'lazy'" decoding="async">
      </div>
    }

    <div class="controls">
      <button (click)="store.prev()" aria-label="Предыдущий" class="control control--prev" type="button">‹</button>
      <button (click)="store.next()" aria-label="Следующий" class="control control--next" type="button">›</button>

      <button (click)="store.togglePlay()" aria-label="{{ store.isPlaying() ? 'Пауза' : 'Воспроизведение' }}"
              class="control control--pause"
              type="button">
        @if (store.isPlaying()) {
          ⏸
        } @else {
          ▶
        }
      </button>
    </div>
  </div>


  <div #indicatorsContainer class="indicators">
    <div class="indicator">
      @for (indicator of store.indicators(); track indicator.id) {
        <img [src]="indicator.thumbnail" [alt]="indicator.alt"
             [class.active]="indicator.slideId === store.slides()[store.currentSlide()].id"
             (click)="store.goToSlideId(indicator.slideId)">
      }
    </div>
  </div>
</div>
